<%- include("private/header") %> 
<h1 style="text-align: center;"> ABout Page </h1>
<p>The info you Know is all yours :)</p>
<a class="btn btn-primary btn-lg button" href="/login" role="button">Login</a>
<!-- <a class="btn btn-secondary btn-lg button" href="/register" role="button">Register</a> -->
<p class="pRegister">Create an account ? <a href="/register">register</a></p>

<%- include("private/footer") %> 