<hr>
<section id="footer">
    <p>Copywright @</p>
    <div class="icons">
        <a href="https://www.instagram.com/"><i class="fab fa-instagram-square ifooter"></i></a>
        <a href="https://in.linkedin.com"><i class="fab fa-linkedin ifooter"></i></a>
        <a href="https://github.com/"><i class="fab fa-github-square ifooter"></i></a>
    </div> 
</section>
</body>   
</html>
